@import '../../App.scss';

.container_schedule {
    text-align: center;
    margin-top: 10rem;
}

.header {
    font-size: 2rem;  
    font-weight: 700;
    margin-bottom: 1rem;
}

.card_container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    row-gap: 30px;
    margin-top: 7rem;
    
}
.card {
    border: 1px solid rgba(8, 184, 197,0.2);
    border-radius: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(8, 184, 197,0.7);
    background-color: rgba(213, 223, 230,0.3);
    transition: all 0.2s linear;
    color: rgb(8, 184, 197);
    padding: 60px;
    font-size: 1.3rem;
    font-weight: 400;

}

.card:hover {
    cursor: pointer;
    color: rgb(14, 107, 212);
    box-shadow: 12px 12px 2px 1px rgba(14, 107, 212,0.7);
    width: 305px;
    height: 205px;
    border-color: rgba(14, 107, 212,0.2);
    font-size: 1.4rem;
}

a:link {
    text-decoration: none;
}

.card_and_link {
    display: grid
}

.goback {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 3rem;
    width: 100%;
    color: rgb(8, 184, 197);  
    text-align: center;
}
.goback:hover {
    font-size: 1.3rem;
    color: rgb(14, 107, 212);
    transition: all 0.2s ease-in-out;
}
span {
    align-items: center;
    display: flex;
}

.add {
    color: white;  
    background-color: rgb(8, 184, 197);
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    padding: 7px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}
.add:hover {
    cursor: pointer;
    border: 1px solid rgb(8, 184, 197);
    color: rgb(14, 107, 212);
    background-color: white;
}

@media screen and (max-width:1450px) {
    .card_container { 
        grid-template-columns: auto auto auto;   
        column-gap: 20px;
    }
    .card {
        margin: 20px;
    }
    .goback { 
        margin: 2rem;
    }
}

@media screen and (max-width:1070px) {
    .card_container {
        grid-template-columns: auto auto;
        
    }
}


